/*header*/


header {
  background-color: #bbbbbb;
  padding: 20px 0;
}

.caja {
  width: 940px;
  position: relative;
  margin: 0 auto;
}

nav {
  position: absolute;
  top: 110px;
  right: 0px;
}

nav li {
  display: inline;
  margin: 0 0 0 15px;
}

nav a {
  text-transform: uppercase;
  color: black;
  font-weight: bold;
  font-size: 22px;
  text-decoration: none;
}

nav a:hover {
  color: #c78c19;
  text-decoration: underline #c78c19;
}


/*main*/
#banner {
  width: 100%;
}

main {
  padding-top: 20px;
}

.principal {
  background: #CCCCCC;
  padding: 20px;
}

.titulo-centralizado {
  text-align: center;
}

p {
  text-align: center;
}

em strong {
  color: red;
}

#mision {
  font-size: 20px
}


.items {
  font-style: italic;

}

.ul-diferenciales {
  display: inline-block;
  vertical-align: top;
  width: 20%;
  margin-right: 15%;
}

.imagenDiferenciales {
  width: 50%;
}


/*footer*/
footer {
  text-align: center;
  background: url("../img/imagenes/bg.jpg");
  padding: 40px;

}

.copyrigth {
  color: #FFFFFF;
  font-size: 13px;
  margin: 20px;

}

footer hr {
  width: 300px;
  margin-top: 40px;
}

.by {
  color: #FFFFFF;
  font-size: 18px;
}